body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: "../images/cool-background.png";
}
main {
  flex: 1 0 auto;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.text {
  margin-top: 200px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
h1,
h3,
h5 {
  color: green;
}

li {
  font-weight: bold;
}

nav {
  background-color: #034e40;
}

.page-footer {
  background-color: #034e40;
}

.card-content {
  color: #034e40;
}

.btn {
  background-color: #034e40;
}
h3 {
  margin: 10px;
}

h5 {
  margin: 10px;
  opacity: 0.5;
}

#mission {
  font-size: 30px;
}

p {
  font-size: 18px;
}

li {
  font-size: 20px;
}

#bg {
  background-size: cover;
}
